<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWS</title>
      <link rel="stylesheet" type="text/css" href='/static/mystyle-aws.css'>
</head>
<body>
<h1>hello aws</h1>
<br>
<h3>Create Iam user</h3>
<form method="post">
    <label>Enter username</label>
    <br>
     <input type = "text" name="username" required>
    <br>
     <label>Enter password</label>
    <br>
    <input type="password" name="password" required>
    <br>
    <input type="submit" name="submit" value="Create user">
</form>
<h3>Launch New Instance</h3>
<form method="post">
     <label>Instance name</label>
    <br>
     <input type = "text" name="instance_name" required>
    <br>
     <label>Instance Type</label>
    <br>
    <input type="text" name="instance_type" required>
    <br>
    <label>Key pair name</label>
    <br>
    <input type="text" name="key_pair_name" required>
    <br>
    <label>Image id</label>
    <br>
    <input type="text" name="image_id" required>
    <br>
    <label>Security Group Id</label>
    <br>
    <input type="text" name="security_group_id" required>
    <br>
  <label>Instance Count</label>
    <br>
    <input type="number" name="instance_count" required step="1">
    <br>
    <input type="checkbox" name="add_docker" value="true">
    <label for="add_docker">Add Docker to instance</label>
    <br>
    <input type="checkbox" name="add_jenkins" value="true">
    <label for="add_jenkins">Add Jenkins to instance</label>
    <br>
    <input type="submit" name="submit" value="Create instance">

</form>

<table>
  <tr>
    <th>Name</th>
    <th>Instance ID</th>
    <th>Instance State</th>
    <th>Status Check</th>
  </tr>
</table>
<a href="/docker">docker</a>
<a href="/signup">signup</a>
<a href="/homepage">homepage</a>
</body>
</html>