<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create jenkins job</title>
</head>
<body>
<h1>Create Jenkins Job</h1>
<h2>create freestyle job</h2>
<form method="POST" action="/create_jenkins_job">
        <label for="job_test">Job Name:</label>
        <input type="text" id="job_test" name="job_test">
        <button type="submit">Create Job</button>
    </form>
<h2>create pipeline job</h2>
<form method="POST" action="/create_jenkins_job_pipeline">
        <label for="job2">Job Name:</label>
        <input type="text" id="job2" name="job2">
      <select class="select" name="workspace" id="workspace" required>
  <option value="Testing">Testing workspace</option>
  <option value="Production">Production workspace</option>
          </select>>
        <button type="submit">Create Job</button>
 </form>
</body>
</html>
