<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<h1>Welcome to My Cloud Management App </h1>

<p>Welcome to our AWS automation and deployment platform! Our application streamlines the process of creating new AWS instances, IAM users, and Docker images, and allows you to launch multiple instances with ease.<br> We also offer Jenkins integration to help with continuous integration and delivery. With our platform, you can easily manage all of your AWS resources and quickly deploy new applications. Thank you for choosing our service, and we hope you find it helpful!</p>

<p>Please register in the <a href="/signup">signup form</a> to gain access to the app.</p>
</body>
</html>