<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href='/static/mystyle.css'>
</head>
<body>
    <header>
        <h1>My Cloud Management App</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/signup">Signup</a>
        </nav>
    </header>
    <main>
        <section class="homepage">
            <h2>Welcome to our AWS automation and deployment platform!</h2>
            <p>Our application streamlines the process of creating new AWS instances, IAM users, and Docker images, and allows you to launch multiple instances with ease. We also offer Jenkins integration to help with continuous integration and delivery. With our platform, you can easily manage all of your AWS resources and quickly deploy new applications.</p>
            <p>Please register in the <a href="/signup">signup form</a> to gain access to the app.</p>
        </section>
    </main>
</body>
</html>