<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jenkins</title>
</head>
<body>
<h1>hello jenkins</h1>
<form method="post">
    <label>Enter username</label>
    <br>
     <input type = "text" name="username" required>
    <br>
     <label>Enter password</label>
    <br>
    <input type="password" name="password" required>
    <br>
     <label>Enter full name</label>
    <br>
     <input type = "text" name="full_name" required>
    <br>
     <label>Enter email</label>
    <br>
     <input type = "email" name="email" required>
    <br>
    <input type="submit" name="submit" value="Create user">
</form>
</body>
</html>